<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ljs.customview"
    android:versionCode="1"
    android:versionName="1.0">

    <!--<uses-sdk-->
        <!--android:minSdkVersion="14"-->
        <!--android:targetSdkVersion="23" />-->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Slide">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RouteActivity" />
        <activity android:name=".activity.PhotoZoomActivity" />
        <activity android:name=".activity.SlideScaleActivity" />
        <activity android:name=".activity.DragCardActivity" />
        <activity android:name=".activity.FullImageActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.CurveActivity" />
        <activity android:name=".activity.WaveActivity" />
        <activity android:name=".activity.DragItemActivity" />
        <activity android:name=".activity.BlockLoadActivity" />
        <activity android:name=".activity.CollActivity" />
        <activity android:name=".activity.statusbar.StatusBarActivity" />
        <activity android:name=".activity.statusbar.StatusBarColorActivity" />
        <activity android:name=".activity.statusbar.StatusBarColorCoordinatorActivity" />
        <activity android:name=".activity.statusbar.StatusBarColorToolBarActivity" />
        <activity android:name=".activity.statusbar.StatusBarTranslucent" />
        <activity android:name=".activity.statusbar.StatusBarTranslucentCoordinatorActivity" />
        <activity android:name=".activity.statusbar.StatusBarWhiteActivity" />
        <activity android:name=".activity.statusbar.StatusBarWhiteCoordinatorActivity" />
        <activity android:name=".activity.statusbar.StatusBarWhiteToolBarActivity" />
    </application>

</manifest>